#landing-container {
  text-align: center;
  padding: 50px;
  background-color: #f8f9fa;
}

#landing-title {
  font-size: 36px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 20px;
}

#landing-description {
  font-size: 18px;
  color: #6c757d;
  margin-bottom: 30px;
}
